In [ ]:
# Dictionary : key value pairs
# -Indexed
# -Multiiple and duplicate value
# -Ordered
# -Mutable

In [1]:
# d = {<key>:<value>, <key>:<value>,.....}
d = {'a':'Apple', 'b':'Ball','c':'Cat'}
print(d)
print(type(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>

In [6]:
info = {'name':'Ram','Age':22,'Addr':'KTM'}
print(info['name'])
print(info['Age'])
print(info['Addr'])

Ram
22
KTM

In [8]:
d = {'a':'Apple', 'b':'Ball','c':'Cat','A':'Apple'} #Unique key but multiple and duplicate <<<value>>>
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [9]:
# d = dict()
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
print(d)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
info = dict()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name= ")
    phn = int(input("Enter phn no= "))
    info[phn] = name
    
print(info)

Enter n = 2
Enter name= Ram
Enter phn no= 98783293749
Enter name= Hari
Enter phn no= 987665755666
{98783293749: 'Ram', 987665755666: 'Hari'}

In [14]:
a = {98783293749: 'Ram', 987665755666: 'Hari'}  #key
for i in (a):
    print(i)

98783293749
987665755666

In [15]:
a = {98783293749: 'Ram', 987665755666: 'Hari'}
for i in a.values():
    print(i)  #values

Ram
Hari

In [16]:
a = {98783293749: 'Ram', 987665755666: 'Hari'}
for i in a.items():
    print(i)  #both

(98783293749, 'Ram')
(987665755666, 'Hari')

In [18]:
l = []
a = {98783293749: 'Ram', 987665755666: 'Hari'}
for i in a.items():
    l.append(i)

print(l)  #tupple inside list

[(98783293749, 'Ram'), (987665755666, 'Hari')]

In [19]:
dict(l)

{98783293749: 'Ram', 987665755666: 'Hari'}

In [20]:
#  No + * operator
d = {'Ram':9876554433,'Shyam':9887765443}
a = {'Hari':98087654567}
d.update(a)
print(d)

{'Ram': 9876554433, 'Shyam': 9887765443, 'Hari': 98087654567}

In [21]:
a = {'Ram': 9876554433, 'Shyam': 9887765443, 'Hari': 98087654567}
a['Ram'] = 980000000000
a

{'Ram': 980000000000, 'Shyam': 9887765443, 'Hari': 98087654567}

In [22]:
# list inside dictionary

a = {'Ram': [9876554433,98777777777], 'Shyam': [9887765443,98888888888], 'Hari': [98087654567,9876554444]}
print(a)

{'Ram': [9876554433, 98777777777], 'Shyam': [9887765443, 98888888888], 'Hari': [98087654567, 9876554444]}

In [24]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name= ")
    ntc = int(input("Enter ntc phn no= "))
    ncell = int(input("Enter ncell phn no= "))
    info[name] = [ntc,ncell]  #list inside dict
print(info)

Enter n = 2
Enter name= Ram
Enter ntc phn no= 9867388392
Enter ncell phn no= 980637836
Enter name= Hari
Enter ntc phn no= 987678997
Enter ncell phn no= 9807654457
{'Ram': [9867388392, 980637836], 'Hari': [987678997, 9807654457]}

In [28]:
# data = {'Name':['Ram','Shyam','Hari'],
#        'Age':[20,30,40],
#        'Addr':['KTM','PKR','BRT']}

info = {'name':[],'age':[],"addr":[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name= ")
    age = int(input("Enter age= "))
    addr = input("Enter addr= ")
    info['name'].append(name)
    info['age'].append(age)
    info['addr'].append(addr)
    
print(info)

Enter n = 3
Enter name= Ram
Enter age= 12
Enter addr= KTM
Enter name= Hari
Enter age= 77
Enter addr= KTM
Enter name= Shyam
Enter age= 66
Enter addr= PKR
{'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66], 'addr': ['KTM', 'KTM', 'PKR']}

In [32]:
a = {'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66], 'addr': ['KTM', 'KTM', 'PKR']}
a['name'].append('ppppp')
a['age'].append(22)
a["addr"].append('jjj')
print(a)

{'name': ['Ram', 'Hari', 'Shyam', 'ppppp'], 'age': [12, 77, 66, 22], 'addr': ['KTM', 'KTM', 'PKR', 'jjj']}

In [35]:
d = {'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66], 'addr': ['KTM', 'KTM', 'PKR']}
del d['addr']
d

{'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66]}

In [40]:
a = {'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66], 'addr': ['KTM', 'KTM', 'PKR']}
del a['name'][0]
del a['age'][0]
del a['addr'][0]

a

{'name': ['Hari', 'Shyam'], 'age': [77, 66], 'addr': ['KTM', 'PKR']}

In [45]:
a = {'name': ['Ram', 'Hari', 'Shyam'], 'age': [12, 77, 66], 'addr': ['KTM', 'KTM', 'PKR']}
a['addr'][0] = 'Jhapa'
a

{'name': ['Ram', 'Hari', 'Shyam'],
 'age': [12, 77, 66],
 'addr': ['Jhapa', 'KTM', 'PKR']}

In [4]:
d = {}
d['apple'] = 'Apple is a fruit'
d['orange'] = 'orange is a fruit'
d['cat'] = 'cat is an animal'

print(d.get('apple'))

Apple is a fruit

In [5]:
d = {}
d['apple'] = 'Apple is a fruit'
d['orange'] = 'orange is a fruit'
d['cat'] = 'cat is an animal'

n = int(input('enter n = '))

for i in range(n):
    k =input("enter key = ")
    print(d.get(k,"key doesn't exist"))

enter n = 2
enter key = cat
cat is an animal
enter key = ball
key doesn't exist

In [16]:
# list of keys
listofkey = list(d.keys())
print(listofkey)

listofvalue = list(d.values())
print(listofvalue)

['apple', 'orange', 'cat']
['Apple is a fruit', 'orange is a fruit', 'cat is an animal']

In [ ]:
# {'name': ['Ram', 'Hari', 'Shyam'],
#  'age': [12, 77, 66],
#  'addr': ['Jhapa', 'KTM', 'PKR']}

In [2]:
# dict inside list
data = []
n = int(input("enter n "))
for i in range(n):
    name = input("Enter name= ")
    age = int(input("Enter age= "))
    addr = input("Enter addr= ")
    info = {"name":name,'age':age,"addr":addr}
    data.append(info)
data

enter n 2
Enter name= jjj
Enter age= 3
Enter addr= fcff
Enter name= dddd
Enter age= 3
Enter addr= fff

[{'name': 'jjj', 'age': 3, 'addr': 'fcff'},
 {'name': 'dddd', 'age': 3, 'addr': 'fff'}]

In [5]:
data[1]['name'] = 'RAM'
data

[{'name': 'jjj', 'age': 3, 'addr': 'fcff'},
 {'name': 'RAM', 'age': 3, 'addr': 'fff'}]

In [ ]:
# # dict inside dict

# info = {1:{'name': 'jjj', 'age': 3, 'addr': 'fcff'},
#        2:{'name': 'RAM', 'age': 3, 'addr': 'fff'}}

In [12]:
# dict inside dict

data = {}
n = int(input("enter n= "))
for i in range(1,n+1):
    name = input("Enter name= ")
    age = int(input("Enter age= "))
    addr = input("Enter addr= ")
    info = {"name":name,'age':age,"addr":addr}
    data[i] = info
data

enter n= 2
Enter name= ram
Enter age= 33
Enter addr= ktm
Enter name= hari
Enter age= 44
Enter addr= pkr

{1: {'name': 'ram', 'age': 33, 'addr': 'ktm'},
 2: {'name': 'hari', 'age': 44, 'addr': 'pkr'}}

In [7]:
# data[1]

{'name': 'ram', 'age': 22, 'addr': 'ktm'}

In [8]:
# del data[1]
# data

{2: {'name': 'hari', 'age': 33, 'addr': 'pkr'}}

In [16]:
data

{1: {'name': 'ram', 'age': 33, 'addr': 'ktm'},
 2: {'name': 'hari', 'age': 44, 'addr': 'pkr'}}

In [19]:
data[3] = {'name':'nabin','age':22,'addr':'chitwan'}
print(data)

{1: {'name': 'ram', 'age': 33, 'addr': 'ktm'}, 2: {'name': 'hari', 'age': 44, 'addr': 'pkr'}, 3: {'name': 'nabin', 'age': 22, 'addr': 'chitwan'}}

In [ ]:

data = {1: {'name': 'ram', 'age': 33, 'addr': {'per':'Jhapa','temp':'Kathmandu'}},
        2: {'name': 'hari', 'age': 44, 'addr':{'per':'Jhapa','temp':'Ktm'}}}

In [20]:
d = {('Ram','Aaa'):9800000000,('hari','sita'):98000000000}
d

{('Ram', 'Aaa'): 9800000000, ('hari', 'sita'): 98000000000}