In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [2]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [3]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [11]:
for i in range(1,10,3):
    print(i,"hello world")

1 hello world
4 hello world
7 hello world

In [12]:
n = int(input("enter n = "))
for i in range(1,5):
    print(n*i)

enter n = 2
2
4
6
8

In [13]:
n = int(input("enter n = "))
for i in range(1,5):
    print(n, "*" , i,"=",n*i)

enter n = 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8

In [14]:
for i in range(5):
    n= int(input("enter n= "))
    print(n)

enter n= 123
123
enter n= 123
123
enter n= 3333
3333
enter n= 4444
4444
enter n= 444
444

In [1]:
s = str()
n = int(input("enter n ="))
for i in range(n):
    x = input("enter value = ")
    s = s + x + '\n'
    
print(s)

enter n =2
enter value = d
enter value = ff
d/nff/n

In [2]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter value = ")
    s = s + x + '\n'
    
print(s)

Enter n = 2
Enter value = ffff
Enter value = ffdd
ffff
ffdd

In [2]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " + phone + '\n'
    
print(s)

Enter n = 2
Enter name = prash
Enter phone = 9863628
Enter name = prashna
Enter phone = 6736472
prash 9863628
prashna 6736472

In [3]:
print(s)

prash 9863628
prashna 6736472

In [18]:
s = 0
n =int(input("enter n = ")) 
for i in range(n):
    s=s+i
print(s)

6

In [1]:
a = "python"
for i in a:
    print(i)

p
y
t
h
o
n

In [2]:
a = "python"
for i in a:
    print(i, "hello world")

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world

In [6]:
a = "hello World I Am Python"
for i in a:
    if i != " ":
        print(i, end = "")

helloWorldIAmPython