In [ ]:
# # python collection
# list
# tupple 
# dict 
# set

In [ ]:
# list
# -supports indexing
# -ordered data type
# -multiple and duplicate value
# -mutable

In [2]:
a = ["Apple", "Ball","Cat"]
b = [1,2,3,4,5,6,1,2]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
['Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6, 1, 2]

In [3]:
# -supports indexing
a = ["Apple", "Ball","Cat"]
print(a[0])

Apple

In [4]:
a = ["Apple", "Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [5]:
a = ["Apple", "Ball","Cat"]
b = [1,2,3,4,5,6,1,2]
c = a+b
print(c)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 1, 2]

In [7]:
# list enlargement
a = ["Apple", "Ball","Cat"]
print(a*2)
b = [1,2,3,4,5,6,1,2]
print(2*b)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball', 'Cat']
[1, 2, 3, 4, 5, 6, 1, 2, 1, 2, 3, 4, 5, 6, 1, 2]

In [15]:
# userdefined list
# concatination of lits

n = int(input("Enter n = "))
l = []
for i in range(n):
    x = int(input("Enter x = "))
    l = l+[x]

print(l)

Enter n = 5
Enter x = 12
Enter x = 345
Enter x = 7655
Enter x = 89
Enter x = 6
[12, 345, 7655, 89, 6]

In [16]:
print("The max value = ", max(l))
print("The min value = ", min(l))
print("The sum of list l = ", sum(l))

The max value =  7655
The min value =  6
The sum of list l =  8107

In [18]:
# list is a mutable datatype
l.sort()
print(l)
l.reverse() #to make in decending order first sort then reverse
print(l)

[6, 12, 89, 345, 7655]
[7655, 345, 89, 12, 6]

In [21]:
a = ["Apple","cat","Book","Dog"]
a.sort() #Capital letter will come first
print(a)
a.reverse()
print(a)

['Apple', 'Book', 'Dog', 'cat']
['cat', 'Dog', 'Book', 'Apple']

In [22]:
a = ["Apple","cat","Book","Dog"]
for i in a:
    print(i)

Apple
cat
Book
Dog

In [28]:
a = ["Ram","Shyam","Hari","Ramesh"]
print(len(a))
if "Ram" in a:
    print("Yes", a.count("Ram"))
else:
    print("No")
    
# counts individually so only 1

4
Yes 1

In [ ]:
# # write list
# append(), insert(), extend()
# ///
# del, remove(), pop()

In [30]:
# append() : add value at last
a = ["Ram","Shyam","Hari","Ramesh"]
a.append("Sita")
a

['Ram', 'Shyam', 'Hari', 'Ramesh', 'Sita']

In [31]:
# insert() : add value in desired place by giving index
a = ["Ram","Shyam","Hari","Ramesh"]
a.insert(1,"Sita")
a

['Ram', 'Sita', 'Shyam', 'Hari', 'Ramesh']

In [32]:
# extend : to place the value of one list in another one 
a = ["Apple", "Ball","Cat"]
b = [1,2,3,4,5,6,1,2]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 1, 2, 3, 4, 5, 6, 1, 2]

In [34]:
# extend

n = int(input("Enter n = "))
l = []
for i in range(n):
    x = int(input("Enter x = "))
    # l = l+[x]
    l.append(x)

print(l)

Enter n = 3
Enter x = 344
Enter x = 555
Enter x = 333
[344, 555, 333]

In [38]:
# del : to remove by using del giving <<<index>>>
a = ["Ram","Shyam","Hari","Ramesh"]
del a[0]
a

['Shyam', 'Hari', 'Ramesh']

In [41]:
# remove() : to delete by <<<value>>>
a = ["Ram","Shyam","Hari","Ramesh"]
a.remove("Hari")
print(a)

['Ram', 'Shyam', 'Ramesh']

In [42]:
# pop() : remove value form a and place it in b
a = ["Ram","Shyam","Hari","Ramesh"]
b = a.pop(1)
print(a)
print(b)

['Ram', 'Hari', 'Ramesh']
Shyam

In [44]:
# to remove multiple value by using range by index
a = ["Ram","Shyam","Hari","Ramesh"]
del a[0:2]
a

['Hari', 'Ramesh']

In [46]:
# remove mul value by value
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
a.remove("Ram")
print(a)

# this will remove only 1st Ram so >>>>

['Shyam', 'Hari', 'Ramesh', 'Ram']

In [47]:
# >>remove mul value by value
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
c = a.count("Ram")
for i in range(c):
    a.remove("Ram")
print(a)

['Shyam', 'Hari', 'Ramesh']

In [48]:
# to get the index of some value 
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
a.index("Shyam")

# but if there are multiple shyam this wont work

1

In [49]:
# to get the index of multiple value
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
n = len(a)
for i in range(n):
    if a[i] == "Ram":
        print(i,a[i])

0 Ram
4 Ram

In [51]:
# Update
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
a[0] = "ramaaaa"
a

['ramaaaa', 'Shyam', 'Hari', 'Ramesh', 'Ram']

In [52]:
# Update
a = ["Ram","Shyam","Hari","Ramesh","Ram"]
a[0:2] = ["ramaaaa","shyaaaaaam"]
a

['ramaaaa', 'shyaaaaaam', 'Hari', 'Ramesh', 'Ram']

In [54]:
a = "Applee\nBall"
a.split('\n')

['Applee', 'Ball']

In [8]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9]]

b = [["Ram",21,'KTM'],
    ["Shyam",67,"pkr"],
    ["Hari",78,"Brt"]]
print(len(b))
print(len(a))

3
3

In [10]:
b = [["Ram",21,'KTM'],
    ["Shyam",67,"pkr"],
    ["Hari",78,"Brt"]]
print(b[0])

['Ram', 21, 'KTM']

In [14]:
b = [["Ram",21,'KTM'],
    ["Shyam",67,"pkr"],
    ["Hari",78,"Brt"]]
print(b[0][2]) #[ROW][COLUMN]
print(b[2][1])

KTM
78

In [2]:
# append and concatination
b = [["Ram",21,'KTM'],
    ["Shyam",67,"pkr"],
    ["Hari",78,"Brt"]]
b = b + [["Nabin",24,"Bara"]]
b

[['Ram', 21, 'KTM'],
 ['Shyam', 67, 'pkr'],
 ['Hari', 78, 'Brt'],
 ['Nabin', 24, 'Bara']]

In [6]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    addr = input("Enter addr = ")
    info = [name,age,addr]
    data.append(info)

print(data)

Enter n = 2
Enter name = Ram
Enter age = 22
Enter addr = KTM
Enter name = SS
Enter age = 66
Enter addr = PKR
[['Ram', 22, 'KTM'], ['SS', 66, 'PKR']]

In [17]:
x = [['Ram', 22, 'KTM'], ['SS', 66, 'PKR']]
x.append(["Hari",22,"Bara"])
x
x[0]

[['Ram', 22, 'KTM'], ['SS', 66, 'PKR'], ['Hari', 22, 'Bara']]

In [15]:
# UPDATE
x[0][0] = "Ramaaaa"
x

[['Ramaaaa', 22, 'Bara']]

In [18]:
# delete
del x[0]
x

[['SS', 66, 'PKR'], ['Hari', 22, 'Bara']]

In [23]:
# search
x = [["Ram",21,'KTM'],["Shyam",67,"pkr"],["Hari",78,"Brt"]]
search = input("Enter name = ")
for i in x:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 21, 'KTM']

In [26]:
# remove
x = [["Ram",21,'KTM'],["Shyam",67,"pkr"],["Hari",78,"Brt"]]
search = input("Enter name = ")
for i in x:
    if search in i:
        x.remove(i)
print(x)

Enter name = Ram
[['Shyam', 67, 'pkr'], ['Hari', 78, 'Brt']]

In [5]:
# finding index
x = [["Ram",21,'KTM'],["Shyam",67,"pkr"],["Ram",78,"Brt"]]
l = len(x)
search = input("Enter name = ")
for i in range(l):
    if search in x[i]:
        print(i)
        
print(x)

Enter name = Ram
0
2
[['Ram', 21, 'KTM'], ['Shyam', 67, 'pkr'], ['Ram', 78, 'Brt']]

In [8]:
# search inside the list with multiple name
x = [["Ram, Rama, Ramhhsdk",21,'KTM'],["Shyam",67,"pkr"],["Hari",78,"Brt"],["Ram",44,"Bara"]]
search = input("Enter name = ")
for i in x:
    if search in i[0]:
        print(i)

Enter name = Ram

In [22]:
# string into list
a = "Applee 200 3 2000\nBall 3000 4 2000"
x = a.split('\n')
print(x)

for i in x:
    print(i.split())

['Applee 200 3 2000', 'Ball 3000 4 2000']
['Applee', '200', '3', '2000']
['Ball', '3000', '4', '2000']

In [ ]:
# string into list inside list

a = "Applee 200 3 2000\nBall 3000 4 2000"
x = a.split('\n')
print(x)
data = []
for i in x:
    y = i.split()
    data.append(y)
print(data)

In [ ]:
# create a matrix using row and col input from user

In [3]:
list = [1,2,3.4,"hello"]
for index in range(0,len(list)):
    print(list[index])

1
2
3.4
hello

In [8]:
# updating the whole list
list = [1,2,3.4,"hello"]
for index in range(0,len(list)):
    list[index]=12
print(list)

[12, 12, 12, 12]

In [9]:
list = [1,2,3.4,"hello"]
for item in list:
    print(item)

1
2
3.4
hello

In [ ]:
# create a matrix using row and col input from user

matrix = []
r = int(input("enter no of row"))
c = int(input("enter no of col"))
 
for i in range(r):
    row =