In [26]:
a= "hello world"
a[2]

'l'

In [3]:
a = "hello world"
a[0:7]      #string slicing it will print from 0 to 7

'hello w'

In [4]:
a= "hello world"
a[0:10:2]  #2 is +2

'hlowr'

In [12]:
#to print in opposite side or reverse order
a= "hello world"
len(a)
a[-1:0:-1] #h will be missing here so do as in next line
a[-1: :-1]

'dlrow olleh'

In [14]:
 
name = "Ram"
age = 23
addr = 'ktm'
info = "Hello I am "+ name + " i am from " + addr + " and i am "+ str(age)
print(info)

#this will be difficult so we use string formatting

Hello I am Ram i am from ktm and i am 23

In [15]:
name = input("enter name :")
age = int(input("age : "))
addr = input(" entre addr")

info = f"Hello I am {name}. I am from {addr} and i am{age}" #f is formatting

print(info)

enter name :praashna
age : 22
 entre addrktm
Hello I am praashna. I am fromktm and i am22

In [19]:
s = 0
bill = str()
n = int(input("enter value n "))
for i in range (n):
    name = input("enter name :")
    price = int(input("enter price:"))
    quantity = int(input("enter quantity:"))
    total = price*quantity
    bill = bill + f"name of prodict is {name} and price is {price}, quantity is {quantity}. Total is {total} \n"
    s = s+total

print("all total :",s)
print(bill)

enter value n 2
enter name :app
enter price:200
enter quantity:2
enter name :org
enter price:300
enter quantity:2
all total : 1000
name of prodict is app and price is 200, quantity is 2. Total is 400
name of prodict is org and price is 300, quantity is 2. Total is 600

In [24]:
#search
a = "Ram Shyam Hari Sita Gita Ramesh"
if "Ram" in a:
    print("There is Ram")
else:
    print("no")

if "Max" in a:
    print("There is Ram")
else:
    print("no")

There is Ram
no

In [8]:
#count
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
b = input("Enter search value = ").lower()
if b in a:
    print("Yes, there is ", b)
    print(a.count(b))
else:
    print("no")

Enter search value = R
Yes, there is  r
3

In [3]:
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita gita ramesh
RAM SHYAM HARI SITA GITA RAMESH
Ram Shyam Hari Sita Gita Ramesh

In [17]:
a = input("enter first no = ")
b = input("enter next no = ")
print(b[::-1])
if a == b[::-1]:
    print("yes")
else:
    print("no")

enter first no = 123
enter next no = 321
123
yes

In [23]:
#replace
a = "Ram Shyam Hari Sita Gita Ramesh"
a.replace("Ram", "Ram10")

'Ram10 Shyam Hari Sita Gita Ram10esh'

In [25]:
print(a) #a.replace wont change the actual value it is immutable

Ram Shyam Hari Sita Gita Ramesh