In [ ]:
# tuple
# -supports indexing
# -ordered data type
# -multiple and duplicate value
# -Imutable

In [3]:
t = ("Apple",)
print(type(t))

<class 'tuple'>

In [ ]:
# we cant do append() insert() extend() update del remove() pop()

In [4]:
a = ()
b = ("Apple",)
c = ("Ball",)
d = a+b+c
d

('Apple', 'Ball')

In [6]:
n = int(input("Enter n = "))
l = ()
for i in range(n):
    x = int(input("Enter x = "))
    l = l+(x,)

print(l)

Enter n = 2
Enter x = 32
Enter x = 422
(32, 422)

In [1]:
a = 123,134,543,666,777,
a

(123, 134, 543, 666, 777)

In [2]:
a = (123, 134, 543, 666, 777)
b = list(a)
b

[123, 134, 543, 666, 777]

In [7]:
a = (123, 134, 543, 666, 777)
b = list(a)
# b.remove(b[0])
del b[0]
print(b)

[134, 543, 666, 777]